$ff-serif: "Abril Fatface", serif;
$ff-sans: "Lato", sans-serif;

$ff-accent: $ff-serif;
$ff-base: $ff-sans;

$font-sizes: (
  // 80 px
  900: clamp(4.8rem, 5.333vw + 1.6rem, 8rem),
  // 60px
  800: clamp(4rem, 3.333vw + 2rem, 6rem),
  // 32px
  700: clamp(2.4rem, 1.333vw + 1.6rem, 3.2rem),
  // 28px
  600: clamp(2rem, 1.333vw + 1.2rem, 2.8rem),
  // 20px
  500: 2rem,
  // 18px
  400: 1.8rem,
  // 16px
  300: 1.6rem
);

//font weight
$fw-400: 400;
$fw-700: 700;

.fw-regular {
  font-weight: $fw-400;
}

.fw-bold {
  font-weight: $fw-700;
}

//line heights
$line-heights: (
  // 110%
  110: 1.1,
  // 120%
  120: 1.2,
  // 150%
  150: 1.5,
  // 160%
  160: 1.6
);
