@use "../abstracts" as *;

.btn {
  &,
  &:link,
  &:visited {
    display: inline-flex;
    padding: 1.125em 2em;
    border: 0;
    font-weight: $fw-700;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s ease;
    cursor: pointer;
  }

  &[data-type="accent"] {
    background-color: clr(primary, 400);
    color: clr(neutral, 900);

    &:is(:hover, :focus) {
      background: clr(neutral, 100);
      color: clr(neutral, 900);
    }
  }

  &[data-type="outline"] {
    --outline-size: 5px;

    outline: var(--outline-size) solid clr(neutral, 100);
    outline-offset: calc(var(--outline-size) * -1);
    background-color: transparent;
    color: clr(neutral, 100);

    &:is(:hover, :focus) {
      background: clr(neutral, 100);
      color: clr(neutral, 900);
    }
  }
}
